@font-face {
    font-family: MSW98UI;
    src: url(Fonts/MSW98UI-Regular.ttf);
}
@font-face {
    font-family: MSW98UI;
    src: url(Fonts/MSW98UI-Bold.ttf);
    font-weight: bold;
}
body {
    background-color: #008080;
}
h1 {
    color: #000000;
}
p {
    color: #000000;
}

.cloud_container {
    width: 500px;
    height: 500px;
    position: relative;
}
.gradient {
    height: 100%;
    width: 100%;
    background-image: 
    linear-gradient(to bottom,transparent,white,white);
    position: absolute;
    top: 0;
    left: 0;
}
.cloud_image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}

.taskbar {
    justify-content: left;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
    height: 27px;
    background-color: #c3c3c3;
    outline: 1px solid #dfdfdf;
    border-top: 1px solid #fdffff;
}
.start {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 23px;
    width: 75px;
    margin: 1.25px;
    margin-right: 0;
    background-color: #c3c3c3;
}
.border_one {
    box-shadow: inset 1px 1px #fff,inset -1px -1px grey;
    padding: 1px;
}
.border_two {
    box-shadow: inset -1px -1px #0a0a0a,inset 1px 1px #fff,inset -2px -2px grey,inset 2px 2px #dfdfdf;
}
.border_three {
    box-shadow: inset -1px -1px #0a0a0a,inset 1px 1px #fff,inset -2px -2px grey,inset 2px 2px #dfdfdf;
}
.start_img {
    height: 22px;
    width: 22px;
    padding-left: 3px;
}
.indent {
    height: 23px;
    width: 0;
    border-left: 1px solid grey;
    border-right: 1px solid #fff;
    margin-left: 1px;
    margin-right: 1px;
    /*width: 0;*/
    /*background-color: #000;*/
}
.bump {
    height: 17px;
    min-width: 1px;
    background-color: #c3c3c3;
}
* {
    image-rendering: pixelated;
    font-family: MSW98UI, ui-monospace;
}