body {
    background-color: #008080;
}
h1 {
    color: #000000;
}
p {
    color: #000000;
}

.cloud_container {
    width: 500px;
    height: 700px;
    position: relative;
}
.gradient {
    height: 100%;
    width: 100%;
    background-image: 
    linear-gradient(to top,transparent,white,white);
    position: absolute;
    top: 0;
    left: 0;
}
.cloud_image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}